<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="card">
    <div *ngIf="roleOutput$ | async as roleOutput" class="card-content">
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </p>
      <p>
        <mat-slide-toggle formControlName="isEnabled">Is Enabled</mat-slide-toggle>
      </p>
      <p>
        Permissions
        <app-checkbox-group *ngIf="roleOutput.permissions" formControlName="permissionIds">
          <mat-checkbox *ngFor="let permission of roleOutput.permissions" [value]="permission.id.toString()">
            {{ permission.name }}
          </mat-checkbox>
        </app-checkbox-group>
      </p>
      <app-card-loading *ngIf="isLoading"></app-card-loading>
    </div>
    <div class="card-footer">
      <button mat-button type="button" (click)="back()">Back</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="formGroup.invalid">
        {{ saveMode | actionName }}
      </button>
    </div>
  </div>
</form>
