<div>
  <a mat-button [routerLink]="['new']" color="primary">Create</a>
</div>
<app-table [displayedColumns]="displayedColumns" [getItems]="getRoles">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let role">{{ role.name }}</td>
  </ng-container>
  <ng-container matColumnDef="isEnabled">
    <th mat-header-cell *matHeaderCellDef>Is Enabled</th>
    <td mat-cell *matCellDef="let role">{{ role.isEnabled }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let role">
      <a mat-icon-button [routerLink]="[role.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" (click)="deleteRole(role)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
