<a mat-button routerLink="new">Create</a>
<app-table [displayedColumns]="displayedColumns" [getItems]="getJobs">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let job">{{ job.title }}</td>
  </ng-container>
  <ng-container matColumnDef="is-enabled">
    <th mat-header-cell *matHeaderCellDef>Is Enabled</th>
    <td mat-cell *matCellDef="let job">{{ job.isEnabled }}</td>
  </ng-container>
  <ng-container matColumnDef="employee-count">
    <th mat-header-cell *matHeaderCellDef>Employee Count</th>
    <td mat-cell *matCellDef="let job">{{ job.employeeCount }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let job">
      <a mat-icon-button [routerLink]="[job.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" [disabled]="!canDeleteJob(job)" (click)="deleteJob(job)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
