@import '~@angular/material/theming';

.theme-picker {
  display: block;
  min-width: 176px;
  max-width: 280px;
  background-color: #fff;
}

.theme-cell {
  height: 36px;
  width: 36px;
  margin: 8px;
  overflow: hidden;
  color: #fff;
}

.strawberry-primary {
  background-color: map-get($mat-pink, 500);
}

.forest-primary {
  background-color: map-get($mat-teal, 500);
}

.ocean-primary {
  background-color: map-get($mat-blue, 500);
}

.grape-primary {
  background-color: map-get($mat-deep-purple, 500);
}
