<mat-grid-list class="theme-picker" cols="4">
  <mat-grid-tile>
    <button
      mat-icon-button
      type="button"
      class="theme-cell strawberry-primary"
      (click)="changeTheme(theme.Strawberry)"
    >
      <mat-icon *ngIf="selectedTheme === theme.Strawberry">done</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-icon-button
      type="button"
      class="theme-cell forest-primary"
      (click)="changeTheme(theme.Forest)"
    >
      <mat-icon *ngIf="selectedTheme === theme.Forest">done</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-icon-button
      type="button"
      class="theme-cell ocean-primary"
      (click)="changeTheme(theme.Ocean)"
    >
      <mat-icon *ngIf="selectedTheme === theme.Ocean">done</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-icon-button
      type="button"
      class="theme-cell grape-primary"
      (click)="changeTheme(theme.Grape)"
    >
      <mat-icon *ngIf="selectedTheme === theme.Grape">done</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
