<mat-sidenav-container>
  <mat-sidenav
    *ngIf="sidenavConfig$ | async as sidenavConfig"
    fixedInViewport
    [fixedTopGap]="sidenavConfig.fixedTopGap"
    [attr.role]="sidenavConfig.role"
    [mode]="sidenavConfig.mode"
    [opened]="!sidenavConfig.isHandset"
  >
    <mat-nav-list>
      <ng-container *ngFor="let menuGroup of menuGroups$ | async">
        <div mat-subheader>{{ menuGroup.name }}</div>
        <a *ngFor="let menu of menuGroup.menus" mat-list-item routerLinkActive="primary" [routerLink]="[menu.url]">
          <mat-icon>{{ menu.icon }}</mat-icon>
          {{ menu.name }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
