html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

.container {
  margin: 16px;
}

.flex {
  display: flex;
  justify-content: center;

  .form-card {
    width: 1008px;

    .mat-list-option {
      height: 32px;
    }
  }
}

.fill-space {
  flex: 1 1 auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-card {
  .mat-form-field {
    width: 100%;
  }
}

.mat-card-header-text {
  width: 100%;
}

.mat-paginator {
  .mat-paginator-page-size-select {
    margin: 0;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 1em 0;
      border-top: 0.4em solid transparent;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.hidden {
  .mat-date-range-input-separator,
  .mat-select-trigger {
    visibility: hidden;
  }
}
