html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
}

.container {
  margin: 16px;
}

.fill-space {
  flex: 1 1 auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fit-content {
  width: fit-content !important;
}

.hidden {
  .mat-date-range-input-separator,
  .mat-mdc-select-trigger {
    visibility: hidden;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.table-filter {
  display: flex;
  align-items: center;

  .mat-mdc-chip-list {
    flex: 1;
  }

  .mat-mdc-chip-action-label {
    display: flex;
  }
}

.calendar-toolbar {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px;
  }
}
