html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
}

.container {
  margin: 16px;
}

.fill-space {
  flex: 1 1 auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-header-text {
  width: 100%;
}

.mat-mdc-paginator {
  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
  .mat-paginator-page-size-select {
    margin: 0;
  }

  .mat-form-field-appearance-outline {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-infix {
      padding: 1em 0;
      border-top: 0.4em solid transparent;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.hidden {
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-date-range-input-separator,
  .mat-select-trigger {
    visibility: hidden;
  }
}

.table-filter {
  display: flex;
  align-items: center;
  /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
  .mat-chip-list {
    flex: 1;
  }
}

.calendar-toolbar {
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px;
  }
}

.tree-select.mat-form-field-appearance-outline {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-suffix {
    top: 0;
  }
}
