@use "sass:map";
@use "@angular/material" as mat;

@mixin set-theme-variable($theme) {
  $color-config: mat.get-color-config($theme);
  $typography-config: map.get($theme, "typography");
  $background: map.get($color-config, "background");
  $foreground: map.get($color-config, "foreground");
  $primary: map.get($color-config, "primary");
  $scroll-width: 16px;

  #{--color-primary}: mat.get-color-from-palette($primary);
  #{--color-primary-lighter}: mat.get-color-from-palette($primary, "lighter");
  #{--font-size-title}: mat.font-size($typography-config, "title");
  #{--disabled-text}: mat.get-color-from-palette($foreground, "disabled-text");
  #{--calendar-divider}: mat.get-color-from-palette($foreground, "divider");
  #{--background-color-card}: mat.get-color-from-palette($background, "card");
  #{--background-color-hover}: mat.get-color-from-palette($background, "hover");
  #{--scroll-width}: $scroll-width;

  .cdk-overlay-pane {
    color: mat.get-color-from-palette($foreground, "text");
  }

  .mat-list-item.primary {
    color: mat.get-color-from-palette($primary);
  }

  .content {
    background-color: mat.get-color-from-palette($background, "background");
  }

  .calendar-content {
    @include mat.typography-level($typography-config, "body-1");
  }

  ::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: $scroll-width;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #dadce0;
    border: calc($scroll-width / 4) solid mat.get-color-from-palette($background, "card");
    border-radius: $scroll-width;
    min-height: 40px;
  }

  :hover::-webkit-scrollbar-thumb {
    background: #bdc1c6;
  }
}

@include mat.core();

$typography-config: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);
$theme-light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$teal-palette),
    ),
    typography: $typography-config,
  )
);

@include mat.all-component-themes($theme-light);

.theme-light {
  @include set-theme-variable($theme-light);
}

.theme-dark {
  $theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$deep-purple-palette, 200),
        accent: mat.define-palette(mat.$teal-palette),
      ),
      typography: $typography-config,
    )
  );

  @include mat.all-component-colors($theme-dark);
  @include set-theme-variable($theme-dark);
}
