<mat-form-field class="tree-select">
  <mat-label>{{ label }}</mat-label>
  <input matInput type="text" [value]="value?.name" [matAutocomplete]="auto" />
  <div class="mat-mdc-select-arrow-wrapper" matTextSuffix>
    <div class="mat-mdc-select-arrow">
      <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false">
        <path d="M7 10l5 5 5-5z"></path>
      </svg>
    </div>
  </div>
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding (click)="selectNode(node)">
        <button mat-icon-button type="button" disabled></button>
        <mat-option>{{ node.name }}</mat-option>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (click)="selectNode(node)">
        <button mat-icon-button type="button" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        <mat-option>{{ node.name }}</mat-option>
      </mat-tree-node>
    </mat-tree>
  </mat-autocomplete>
</mat-form-field>
