<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="card">
    <div *ngIf="permission$ | async as permission" class="card-content">
      <p>
        <mat-form-field>
          <mat-label>Code</mat-label>
          <input matInput type="text" formControlName="code" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-slide-toggle formControlName="isEnabled">Is Enabled</mat-slide-toggle>
      </p>
      <app-card-loading *ngIf="isLoading"></app-card-loading>
    </div>
    <div class="card-footer">
      <button mat-button type="button" (click)="back()">Back</button>
      <button mat-stroked-button type="submit" color="primary" [disabled]="formGroup.invalid">
        {{ saveMode | actionName }}
      </button>
    </div>
  </div>
</form>
