ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.container {
  display: flex;
}

.mat-tree-node {
  &:hover {
    cursor: pointer;
  }
}

.department-list {
  flex: 1;
}

.employee-list {
  flex: 3;
  margin-left: 16px;
}

.employee-card-title {
  display: flex;
}
