@use '@angular/material' as mat;

.hidden {
  width: 0;
  height: 1em;
  padding: 0;
  border: 0;
}

input.mat-mdc-input-element {
  margin: 0;
}

$config: mat.define-typography-config();

.mat-mdc-option {
  width: 100%;
  font-size: mat.font-size($config, 'body-2');
}
