<mat-chip (click)="input.focus()" (removed)="onRemoved()">
  <ng-container *ngIf="value; else emptyValue">
    <mat-icon matChipAvatar>check</mat-icon>
    {{ value.name }}
  </ng-container>
  <ng-template #emptyValue>{{ label }}</ng-template>
  <input #input matInput type="text" class="hidden" [value]="value?.name" [matAutocomplete]="auto" />
  <mat-autocomplete #auto="matAutocomplete" panelWidth="auto">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding (click)="selectNode(node)">
        <button mat-icon-button type="button" disabled></button>
        <mat-option>{{ node.name }}</mat-option>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (click)="selectNode(node)">
        <button mat-icon-button type="button" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        <mat-option>{{ node.name }}</mat-option>
      </mat-tree-node>
    </mat-tree>
  </mat-autocomplete>
  <button *ngIf="value" type="button" matChipRemove>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
