<div *ngIf="input$ | async as input" class="calendar">
  <div class="calendar-toolbar">
    <button mat-stroked-button (click)="today()">Today</button>
    <button mat-icon-button (click)="adjustDate(false)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="adjustDate(true)">
      <mat-icon>chevron_right</mat-icon>
    </button>
    {{ title$ | async }}
    <span class="fill-space"></span>
    <mat-button-toggle-group (valueChange)="onModeChange($event)">
      <mat-button-toggle
        *ngFor="let calendarMode of CalendarMode | dictionary"
        [value]="calendarMode.value"
        [checked]="calendarMode.value === input.mode"
      >
        {{ calendarMode.key }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="calendar-content" [ngSwitch]="input.mode">
    <app-calendar-day *ngSwitchCase="CalendarMode.Day" [date]="input.date" [events]="events"></app-calendar-day>
    <app-calendar-week
      *ngSwitchCase="CalendarMode.Week"
      [date]="input.date"
      [events]="events"
      (inputChange)="input$.next($event)"
      (dateRangeChange)="dateRangeChange.emit($event)"
    ></app-calendar-week>
    <app-calendar-month
      *ngSwitchCase="CalendarMode.Month"
      [date]="input.date"
      [events]="events"
      (inputChange)="input$.next($event)"
      (dateRangeChange)="dateRangeChange.emit($event)"
    ></app-calendar-month>
    <app-calendar-year *ngSwitchCase="CalendarMode.Year" [date]="input.date" (inputChange)="input$.next($event)"></app-calendar-year>
  </div>
</div>
