.mat-column-filter-icon,
.mat-column-empty {
  width: 48px;
  padding-right: 16px;
  text-align: center;
}

.mat-column-empty-result {
  text-align: center;
}

.arrow-name {
  display: inline-flex;
  align-items: center;
}
