<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="filter">
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon>filter_list</mat-icon>
    </th>
  </ng-container>
  <ng-container matColumnDef="chip-list">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="headerColumns.length - 1">
      <ng-content select=".table-filter"></ng-content>
    </th>
  </ng-container>
  <ng-container matColumnDef="empty">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let node" [attr.colspan]="2">
      <button
        mat-icon-button
        type="button"
        [style.visibility]="!node.expandable ? 'hidden' : ''"
        [style.marginLeft.px]="node.level * 40 + 48"
        (click)="treeControl.toggle(node)"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon></button
      >{{ node.name }}
    </td>
  </ng-container>
  <ng-content></ng-content>
  <ng-container matColumnDef="empty-result">
    <td mat-footer-cell *matFooterCellDef [attr.colspan]="headerColumns.length">No records were found.</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['filter', 'chip-list']"></tr>
  <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="['empty-result']" [hidden]="!isEmptyResult"></tr>
</table>
