<mat-chip (click)="select.open()" (removed)="value$.next(undefined)">
  <ng-container *ngIf="hasValue; else emptyValue">
    <mat-icon matChipAvatar>check</mat-icon>
    {{ value$ | async | boolean: format }}
  </ng-container>
  <ng-template #emptyValue>
    <ng-content></ng-content>
  </ng-template>
  <mat-select class="hidden" [ngModel]="value$ | async" (ngModelChange)="value$.next($event)" #select>
    <mat-option>None</mat-option>
    <mat-option [value]="true">{{ true | boolean: format }}</mat-option>
    <mat-option [value]="false" *ngIf="!onlyTrue">{{ false | boolean: format }}</mat-option>
  </mat-select>
  <button matChipRemove *ngIf="hasValue">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
