<mat-chip (click)="select.open()" (removed)="value$.next(undefined)">
  <mat-icon matChipAvatar *ngIf="hasValue">check</mat-icon>
  <ng-template [ngIf]="!hasValue">
    <ng-content></ng-content>
  </ng-template>
  <ng-template [ngIf]="hasValue">
    {{ value$ | async | boolean: format }}
  </ng-template>
  <mat-select class="hidden" [ngModel]="value$ | async" (ngModelChange)="value$.next($event)" #select>
    <mat-option>None</mat-option>
    <mat-option [value]="true">{{ true | boolean: format }}</mat-option>
    <mat-option [value]="false">{{ false | boolean: format }}</mat-option>
  </mat-select>
  <button matChipRemove *ngIf="hasValue">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
