<mat-chip (click)="select.open()" (removed)="onRemoved()">
  <ng-container *ngIf="value | hasValue; else emptyValue">
    <mat-icon matChipAvatar>check</mat-icon>
    {{ value | boolean: format }}
  </ng-container>
  <ng-template #emptyValue>
    {{ label }}
  </ng-template>
  <mat-select #select class="hidden" [value]="value" (valueChange)="onValueChange($event)">
    <mat-option>None</mat-option>
    <mat-option [value]="true">{{ true | boolean: format }}</mat-option>
    <mat-option [value]="false" *ngIf="!onlyTrue">{{ false | boolean: format }}</mat-option>
  </mat-select>
  <button *ngIf="value | hasValue" matChipRemove>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
