<mat-chip-option selectable="false" [selected]="value" (click)="toggle()" (removed)="onRemoved()">
  <ng-container *ngIf="value; else emptyValue">{{ label }} ~= {{ value }}</ng-container>
  <ng-template #emptyValue>{{ label }}</ng-template>
  <div #overlayOrigin="cdkOverlayOrigin" cdkOverlayOrigin class="hidden"></div>
  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayLockPosition
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="overlayOrigin"
    [cdkConnectedOverlayOpen]="isOpen"
    (backdropClick)="toggle()"
  >
    <form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="mat-mdc-menu-panel mdc-menu-surface mdc-menu-surface--open">
        <mat-form-field>
          <mat-label>{{ label }}</mat-label>
          <input matInput type="text" formControlName="value" />
        </mat-form-field>
        <button mat-stroked-button type="submit" color="primary">Filter</button>
      </div>
    </form>
  </ng-template>
  <button *ngIf="value" type="button" matChipRemove>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip-option>
