<mat-chip (click)="toggle()" (removed)="value$.next(undefined)">
  <ng-container *ngIf="hasValue; else emptyValue">
    <mat-icon matChipAvatar>check</mat-icon>
    <ng-content></ng-content>
  </ng-container>
  <ng-template #emptyValue>{{ label }}</ng-template>
  <div class="hidden" cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>
  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayLockPosition
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    (backdropClick)="toggle()"
  >
    <form class="flex" autocomplete="off" (ngSubmit)="save()">
      <div class="mat-menu-panel">
        <mat-form-field>
          <mat-label>{{ label }}</mat-label>
          <input matInput type="text" [(ngModel)]="value" [ngModelOptions]="{ standalone: true }" />
        </mat-form-field>
        <button mat-stroked-button type="submit" color="primary">Filter</button>
      </div>
    </form>
  </ng-template>
  <button matChipRemove *ngIf="hasValue">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
