<div>
  <a mat-button [routerLink]="['new']" color="primary">Create</a>
</div>
<app-table [displayedColumns]="displayedColumns" [getItems]="getPermissions">
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let permission">{{ permission.code }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let permission">{{ permission.name }}</td>
  </ng-container>
  <ng-container matColumnDef="is-enabled">
    <th mat-header-cell *matHeaderCellDef>Is Enabled</th>
    <td mat-cell *matCellDef="let permission">{{ permission.isEnabled }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let permission">
      <a mat-icon-button [routerLink]="[permission.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" (click)="deletePermission(permission)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
