<mat-chip-option selectable="false" [selected]="start | hasValue" (click)="picker.open()" (removed)="onRemoved()">
  <ng-container *ngIf="start | hasValue; else emptyValue">
    {{ start | dateTime: "date" }} ~ {{ end | dateTime: "date" }}
  </ng-container>
  <ng-template #emptyValue>Date</ng-template>
  <mat-date-range-input class="hidden" [rangePicker]="picker">
    <input matStartDate type="date" [value]="start" (dateChange)="onStartChange($event.value)" />
    <input matEndDate type="date" [value]="end" (dateChange)="onEndChange($event.value)" />
  </mat-date-range-input>
  <mat-date-range-picker #picker></mat-date-range-picker>
  <button *ngIf="start | hasValue" type="button" matChipRemove>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip-option>
