<mat-form-field>
  <mat-label>Date</mat-label>
  <mat-date-range-input [rangePicker]="pickerDate">
    <input matStartDate placeholder="Started On" [(ngModel)]="startedOn" />
    <input matEndDate placeholder="Ended On" [(ngModel)]="endedOn" />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
  <mat-date-range-picker #pickerDate></mat-date-range-picker>
</mat-form-field>
<mat-form-field>
  <mat-label>Approval Status</mat-label>
  <mat-select [(ngModel)]="approvalStatusValue">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let item of approvalStatus | dictionary" [value]="item.value">{{ item.key }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button type="button" (click)="search()" color="primary">Search</button>
<app-table [displayedColumns]="displayedColumns" [getItems]="getLeaves">
  <ng-container matColumnDef="employeeName">
    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
    <td mat-cell *matCellDef="let leave">{{ leave.employeeName }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let leave">{{ leave.type | enum: leaveType }}</td>
  </ng-container>
  <ng-container matColumnDef="startedOn">
    <th mat-header-cell *matHeaderCellDef>Started On</th>
    <td mat-cell *matCellDef="let leave">{{ leave.startedOn | date }}</td>
  </ng-container>
  <ng-container matColumnDef="endedOn">
    <th mat-header-cell *matHeaderCellDef>Ended On</th>
    <td mat-cell *matCellDef="let leave">{{ leave.endedOn | date }}</td>
  </ng-container>
  <ng-container matColumnDef="approvalStatus">
    <th mat-header-cell *matHeaderCellDef>Approval Status</th>
    <td mat-cell *matCellDef="let leave">{{ leave.approvalStatus | enum: approvalStatus }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let leave">
      <a mat-icon-button [routerLink]="[leave.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" disabled>
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
