<app-table
  *ngIf="leaves$ | async as leaves"
  [isLoading]="isLoading"
  [displayedColumns]="displayedColumns"
  [items]="leaves"
  (page)="page$.next($event)"
>
  <div class="table-filter" slot-filter>
    <mat-chip-list>
      <app-date-range-chip
        (startedOnChange)="startedOn$.next($event)"
        (endedOnChange)="endedOn$.next($event)"
      ></app-date-range-chip>
      <app-select-chip label="Approval Status" (valueChange)="approvalStatus$.next($event)">
        <ng-container slot-value>{{ approvalStatus$ | async | enum: ApprovalStatus }}</ng-container>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let item of ApprovalStatus | dictionary" [value]="item.value">{{ item.key }}</mat-option>
      </app-select-chip>
    </mat-chip-list>
  </div>
  <ng-container matColumnDef="employee-name">
    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
    <td mat-cell *matCellDef="let leave">{{ leave.employeeName }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let leave">{{ leave.type | enum: LeaveType }}</td>
  </ng-container>
  <ng-container matColumnDef="started-on">
    <th mat-header-cell *matHeaderCellDef>Started On</th>
    <td mat-cell *matCellDef="let leave">{{ leave.startedOn | dateTime: "date" }}</td>
  </ng-container>
  <ng-container matColumnDef="ended-on">
    <th mat-header-cell *matHeaderCellDef>Ended On</th>
    <td mat-cell *matCellDef="let leave">{{ leave.endedOn | dateTime: "date" }}</td>
  </ng-container>
  <ng-container matColumnDef="approval-status">
    <th mat-header-cell *matHeaderCellDef>Approval Status</th>
    <td mat-cell *matCellDef="let leave">{{ leave.approvalStatus | enum: ApprovalStatus }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let leave">
      <a mat-icon-button [routerLink]="[leave.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" disabled>
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
