<app-table
  *ngIf="employees$ | async as employees"
  [isLoading]="isLoading"
  [displayedColumns]="displayedColumns"
  [items]="employees"
  (page)="page$.next($event)"
>
  <div class="table-filter" slot-filter>
    <mat-chip-list>
      <app-input-chip label="Name" (valueChange)="name$.next($event)"></app-input-chip>
      <app-tree-select-chip
        *ngIf="departments$ | async as departments"
        label="Department"
        [items]="departments"
        [(value)]="department"
        (valueChange)="departmentId$.next($event?.id || undefined)"
      ></app-tree-select-chip>
    </mat-chip-list>
    <a mat-icon-button [routerLink]="['new']" [queryParams]="{ departmentId: department?.id }" color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
  </ng-container>
  <ng-container matColumnDef="display-name">
    <th mat-header-cell *matHeaderCellDef>Display Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.displayName }}</td>
  </ng-container>
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let employee">{{ employee.departmentName }}</td>
  </ng-container>
  <ng-container matColumnDef="job-title">
    <th mat-header-cell *matHeaderCellDef>Job Title</th>
    <td mat-cell *matCellDef="let employee">{{ employee.jobTitle }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let employee">
      <a mat-icon-button [routerLink]="[employee.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" disabled>
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
