<app-tree-select
  label="Department"
  [getItems]="getDepartments"
  [value]="department"
  (valueChange)="changeDepartment($event)"
></app-tree-select>
<app-table [displayedColumns]="displayedColumns" [filter$]="departmentId$" [getItems]="getEmployees">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
  </ng-container>
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef>Display Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.displayName }}</td>
  </ng-container>
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let employee">{{ employee.departmentName }}</td>
  </ng-container>
  <ng-container matColumnDef="jobTitle">
    <th mat-header-cell *matHeaderCellDef>Job Title</th>
    <td mat-cell *matCellDef="let employee">{{ employee.jobTitle }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let employee">
      <a mat-icon-button [routerLink]="[employee.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" disabled>
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
