<h2 class="mat-h2">{{ isToUpdate | actionName }} User</h2>
<form autocomplete="off" (ngSubmit)="save()">
  <mat-card>
    <mat-card-content>
      <app-card-loading *ngIf="isLoading"></app-card-loading>
      <div>
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput type="text" name="userName" [(ngModel)]="user.userName" [disabled]="isToUpdate" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="user.password" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" [(ngModel)]="user.name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Display Name</mat-label>
          <input matInput type="text" name="displayName" [(ngModel)]="user.displayName" />
        </mat-form-field>
      </div>
      <div>
        <mat-slide-toggle name="isEnabled" [(ngModel)]="user.isEnabled">Is Enabled</mat-slide-toggle>
      </div>
      <div>
        <p>Roles</p>
        <mat-selection-list name="roleIds" [(ngModel)]="user.roleIds">
          <mat-list-option *ngFor="let role of roles" class="permission" [value]="role.id" checkboxPosition="before">
            {{ role.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" (click)="back()">Back</button>
      <button mat-button type="submit" color="primary">{{ isToUpdate | actionName }}</button>
    </mat-card-actions>
  </mat-card>
</form>
