<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="card">
    <div *ngIf="userOutput$ | async as userOutput" class="card-content">
      <p>
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput type="text" formControlName="userName" [disabled]="saveMode | isUpdate" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Display Name</mat-label>
          <input matInput type="text" formControlName="displayName" />
        </mat-form-field>
      </p>
      <p>
        <mat-slide-toggle formControlName="isEnabled">Is Enabled</mat-slide-toggle>
      </p>
      <p>
        Roles
        <mat-selection-list formControlName="roleIds">
          <mat-list-option
            *ngFor="let role of userOutput.roles"
            class="permission"
            checkboxPosition="before"
            [value]="role.id"
          >
            {{ role.name }}
          </mat-list-option>
        </mat-selection-list>
      </p>
      <app-card-loading *ngIf="isLoading"></app-card-loading>
    </div>
    <div class="card-footer">
      <button mat-button type="button" (click)="back()">Back</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="formGroup.invalid">
        {{ saveMode | actionName }}
      </button>
    </div>
  </div>
</form>
