<app-tree-table [displayedColumns]="displayedColumns" [getItems]="getDepartments">
  <ng-container matColumnDef="head">
    <th mat-header-cell *matHeaderCellDef>Head</th>
    <td mat-cell *matCellDef="let node">{{ node.value.headName }}</td>
  </ng-container>
  <ng-container matColumnDef="employee-count">
    <th mat-header-cell *matHeaderCellDef>Employee Count</th>
    <td mat-cell *matCellDef="let node">
      <a [routerLink]="['..', 'employees']" [queryParams]="{ departmentId: node.value.id }" mat-icon-button color="primary">
        {{ node.value.employeeCount }}
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let node">
      <a mat-icon-button [routerLink]="[node.value.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button [routerLink]="['new']" [queryParams]="{ parentId: node.value.id }">
        <mat-icon>add</mat-icon>
      </a>
      <a mat-icon-button color="warn" [disabled]="!canDeleteDepartment(node.value)" (click)="deleteDepartment(node.value)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-tree-table>
