.radio-group-flex {
  display: flex;

  .radio-group {
    flex: 1 1 auto;
  }
}

.genders,
.marital-status {
  display: flex;
  flex-direction: column;
  padding: 8px 0;

  .mat-radio-button {
    padding: 8px;
  }
}
