<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="card">
    <div *ngIf="employee$ | async as employee" class="card-content">
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Display Name</mat-label>
          <input matInput type="text" formControlName="displayName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Birth Date</mat-label>
          <input matInput type="datetime" formControlName="birthDate" [matDatepicker]="pickerBirthDate" />
          <mat-datepicker-toggle matIconSuffix [for]="pickerBirthDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerBirthDate></mat-datepicker>
        </mat-form-field>
      </p>
      <p class="radio-group-flex">
        <span class="radio-group">
          Gender
          <mat-radio-group class="genders" formControlName="gender">
            <mat-radio-button *ngFor="let item of Gender | dictionary" [value]="item.value">
              {{ item.key }}
            </mat-radio-button>
          </mat-radio-group>
        </span>
        <span class="radio-group">
          Marital Status
          <mat-radio-group class="marital-status" formControlName="maritalStatus">
            <mat-radio-button *ngFor="let item of MaritalStatus | dictionary" [value]="item.value">
              {{ item.key }}
            </mat-radio-button>
          </mat-radio-group>
        </span>
      </p>
      <p>
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <ng-container *ngIf="employee.userId; else userName">
            <input matInput type="text" value="User has Bound" disabled />
          </ng-container>
          <ng-template #userName>
            <input matInput type="text" [formControl]="formControlUserName" [matAutocomplete]="auto" />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayWithName"
              (optionSelected)="onUserSelected($event)"
            >
              <mat-option *ngFor="let user of users$ | async" [value]="user">{{ user.name }}</mat-option>
            </mat-autocomplete>
          </ng-template>
        </mat-form-field>
      </p>
      <p>
        <ng-container *ngIf="canAssignJob; else jobDetail">
          <app-tree-select
            label="Department"
            [items]="departments"
            (valueChange)="onDepartmentChange($event)"
          ></app-tree-select>
          <mat-form-field>
            <mat-label>Job Title</mat-label>
            <mat-select formControlName="jobId">
              <mat-option *ngFor="let job of jobs" [value]="job.id">
                {{ job.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hired On</mat-label>
            <input matInput type="datetime" formControlName="startOn" [matDatepicker]="pickerStartOn" [min]="now" />
            <mat-datepicker-toggle matIconSuffix [for]="pickerStartOn"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartOn></mat-datepicker>
          </mat-form-field>
        </ng-container>
        <ng-template #jobDetail>
          <mat-form-field>
            <mat-label>Department</mat-label>
            <input matInput type="text" readonly [value]="employee.departmentName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Job Title</mat-label>
            <input matInput type="text" readonly [value]="employee.jobTitle" />
          </mat-form-field>
        </ng-template>
      </p>
      <app-card-loading *ngIf="isLoading"></app-card-loading>
    </div>
    <div class="card-footer">
      <button mat-button type="button" (click)="back()">Back</button>
      <button mat-stroked-button type="submit" color="primary" [disabled]="formGroup.invalid">
        {{ saveMode | actionName }}
      </button>
    </div>
  </div>
</form>
