<app-table [displayedColumns]="displayedColumns" [getItems]="getUsers">
  <div class="table-filter">
    <mat-chip-list>
      <app-input-chip label="User Name" [value$]="userName$">User Name ~= {{ userName$ | async }}</app-input-chip>
      <app-input-chip label="Name" [value$]="name$">Name ~= {{ name$ | async }}</app-input-chip>
      <app-boolean-select-chip [value$]="isEnabled$" [format]="booleanFormat">Is Enabled</app-boolean-select-chip>
    </mat-chip-list>
    <a mat-icon-button [routerLink]="['new']" color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <ng-container matColumnDef="user-name">
    <th mat-header-cell *matHeaderCellDef>User Name</th>
    <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>
  <ng-container matColumnDef="display-name">
    <th mat-header-cell *matHeaderCellDef>Display Name</th>
    <td mat-cell *matCellDef="let user">{{ user.displayName }}</td>
  </ng-container>
  <ng-container matColumnDef="is-enabled">
    <th mat-header-cell *matHeaderCellDef>Is Enabled</th>
    <td mat-cell *matCellDef="let user">{{ user.isEnabled | boolean: booleanFormat }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let user">
      <a mat-icon-button [routerLink]="[user.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" (click)="deleteUser(user)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
</app-table>
