<div>
  <a mat-button [routerLink]="['new']" color="primary">Create</a>
</div>

<mat-paginator [length]="users.itemCount" [pageSize]="users.pageSize"></mat-paginator>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="rowId">
    <th mat-header-cell *matHeaderCellDef>SN</th>
    <td mat-cell *matCellDef="let i = index">
      {{ users.pageIndex * users.pageSize + i + 1 }}
    </td>
  </ng-container>
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>User Name</th>
    <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef>Display Name</th>
    <td mat-cell *matCellDef="let user">{{ user.displayName }}</td>
  </ng-container>
  <ng-container matColumnDef="isEnabled">
    <th mat-header-cell *matHeaderCellDef>Is Enabled</th>
    <td mat-cell *matCellDef="let user">{{ user.isEnabled }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let user">
      <a mat-icon-button [routerLink]="[user.id]" color="primary">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" (click)="deleteUser(user)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="emptyResult">
    <td mat-footer-cell *matFooterCellDef class="empty-result" [attr.colspan]="displayedColumns.length">No records were found.</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="['emptyResult']" [hidden]="!isEmptyResult"></tr>
</table>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
