<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport
    fixedTopGap="64"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <ng-container *ngFor="let menuGroup of menuGroups">
        <div mat-subheader>{{ menuGroup.name }}</div>
        <a *ngFor="let menu of menuGroup.menus" [routerLink]="[menu.url]" routerLinkActive="primary" mat-list-item>
          <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
          {{ menu.name }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
