<mat-chip-option selectable="false" [selected]="value | hasValue" (click)="select.open()" (removed)="onRemoved()">
  <ng-container *ngIf="value | hasValue; else emptyValue">
    <ng-content select="[slot-value]"></ng-content>
  </ng-container>
  <ng-template #emptyValue>{{ label }}</ng-template>
  <mat-select #select class="hidden" (valueChange)="onValueChange($event)">
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </ng-container>
  </mat-select>
  <button *ngIf="value | hasValue" type="button" matChipRemove>
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip-option>
<div *ngIf="isLoading" class="option-content">
  <ng-content></ng-content>
</div>
