<mat-chip (click)="select.open()" (removed)="value$.next(undefined)">
  <ng-container *ngIf="hasValue; else emptyValue">
    <mat-icon matChipAvatar>check</mat-icon>
    <ng-content select="[slot-value]"></ng-content>
  </ng-container>
  <ng-template #emptyValue>{{ label }}</ng-template>
  <mat-select class="hidden" [ngModel]="value$ | async" (ngModelChange)="value$.next($event)" #select>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </ng-container>
  </mat-select>
  <button matChipRemove *ngIf="hasValue">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
<div class="option-content" *ngIf="isLoading">
  <ng-content></ng-content>
</div>
