<div class="calendar-month">
  <div class="header">
    <div *ngFor="let weekday of weekdays" class="cell">
      {{ weekday }}
    </div>
  </div>
  <div *ngFor="let row of rows; let rowIndex = index" class="row">
    <div *ngFor="let item of row; let colIndex = index" class="cell" [attr.data-row]="rowIndex" [attr.data-col]="colIndex">
      <div class="cell-title" [class.disabled]="!item.isEnabled">
        <div class="day">{{ item.displayValue }}</div>
      </div>
      <div class="event-list">
        <div class="event">
          <span *ngIf="" class="event-icon"></span>
          AA
        </div>
        <div class="event">BB</div>
      </div>
    </div>
  </div>
</div>
