<div class="calendar-month">
  <div class="header">
    <div *ngFor="let dayOfWeekName of dayOfWeekNames" class="cell">
      {{ dayOfWeekName }}
    </div>
  </div>
  <div *ngFor="let row of rows" class="row">
    <div *ngFor="let item of row" class="cell" (click)="cellClick.emit(item.date)">
      <div class="day" [ngClass]="{ disabled: !item.isEnabled, today: item.isToday }" (click)="selectDate(item.date)">
        {{ item.day }}
      </div>
      <div class="event-list">
        <div *ngFor="let event of item.events" class="event" [class.event-all-day]="event.isAllDay">
          <span *ngIf="!event.isAllDay" class="event-icon"></span>
          {{ event.title }}
        </div>
      </div>
    </div>
  </div>
</div>
