.calendar-month {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 98px - 40px - 16px);
  text-align: center;
}

.header {
  display: flex;
}

.row {
  display: flex;
  flex: 1;

  &:last-child {
    border-bottom: 0;
  }
}

.cell {
  display: flex;
  flex-direction: column;
  flex: 1;

  &:last-child {
    border-inline-end: 0;
  }
}

.cell-title {
  display: flex;
  justify-content: center;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;

  &:hover {
    cursor: pointer;
    border-radius: 50%;
  }
}

.event-list {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  align-items: center;
  margin: 0 8px 4px 0;
  padding: 0 8px;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.event-icon {
  height: 0;
  width: 0;
  margin-right: 8px;
  border-radius: 8px;
  border: 4px solid rgb(158, 105, 175);
}

.event-all-day {
  background-color: rgb(158, 105, 175);
  border-radius: 4px;
}
