$font-size-title: var(--font-size-title);
$disabled-text: var(--disabled-text);
$border: 1px solid var(--calendar-divider);
$background-color: var(--background-color-card);
$background-color-hover: var(--background-color-hover);
$scroll-width: var(--scroll-width);
$color-primary: var(--color-primary);
$color-primary-lighter: var(--color-primary-lighter);

.calendar-week {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 98px - 40px - 16px);
  text-align: center;
  border: $border;
  background-color: $background-color;
}

$time-width: 32px;
$hour-height: 48px;

.header {
  display: flex;
  margin-left: $time-width;
  margin-right: $scroll-width;
}

.scroller {
  overflow-x: auto;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex: 1;
}

.time {
  display: flex;
  flex-direction: column;
  width: $time-width;
  padding: calc($hour-height / 2) 0 calc($hour-height / 2 - 1px);
}

.hour {
  flex: 1;
  height: $hour-height;
  line-height: $hour-height;
  vertical-align: middle;
}

.day-of-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.cell {
  flex: 1;
  background-image: linear-gradient(transparent calc($hour-height - 1px), var(--calendar-divider) 1px);
  background-size: 100% $hour-height;

  &:not(:last-child) {
    border-inline-end: $border;
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  cursor: pointer;
  font-size: $font-size-title;

  &.disabled {
    color: $disabled-text;
  }

  &:hover {
    background-color: $background-color-hover;
  }
}

.today {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-lighter;
  }
}
