<div class="calendar-week">
  <div class="header">
    <div *ngFor="let dayOfWeekName of dayOfWeekNames" class="day-of-week">
      {{ dayOfWeekName }}
    </div>
  </div>
  <div class="header">
    <div *ngFor="let item of row" class="weekday">
      <div class="cell-title" [class.disabled]="!item.isEnabled">
        <div class="day" [class.today]="item.isToday" (click)="selectDate(item.date)">{{ item.day }}</div>
      </div>
    </div>
  </div>
  <div class="scroller">
    <div class="row">
      <div class="time">
        <div *ngFor="let hour of hours" class="hour">
          {{ hour }}
        </div>
      </div>
      <div *ngFor="let item of row" class="cell">
        <div class="event-list">
          <div *ngFor="let event of item.events" class="event" [class.event-all-day]="event.isAllDay">
            <span *ngIf="!event.isAllDay" class="event-icon"></span>
            {{ event.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
