<header [class]="selectedTheme">
  <nav>
    <mat-toolbar [color]="isDark ? '' : 'primary'">
      <mat-nav-list>
        <a routerLink="management" mat-list-item>Management</a>
      </mat-nav-list>
      <span class="fill-space"></span>
      <button type="button" mat-icon-button (click)="changeTheme()">
        <mat-icon>{{ isDark ? "sunny" : "bedtime" }}</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button type="button" mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
  </nav>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="signOut()">Sign Out</button>
  </mat-menu>
</header>

<main [class]="selectedTheme">
  <router-outlet></router-outlet>
</main>
