<header [class]="theme">
  <nav>
    <mat-toolbar color="primary">
      <mat-nav-list>
        <a routerLink="management" mat-list-item>Management</a>
      </mat-nav-list>
      <span class="fill-space"></span>
      <button
        type="button"
        mat-icon-button
        [matMenuTriggerFor]="themeMenu"
        #themeButton
      >
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button type="button" mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
  </nav>
  <mat-menu #themeMenu="matMenu" class="theme-panel" [overlapTrigger]="false">
    <!-- <app-theme-picker></app-theme-picker> -->
  </mat-menu>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="signOut()">登出</button>
  </mat-menu>
</header>

<main>
  <router-outlet></router-outlet>
</main>
