<div class="calendar-day">
  <div class="header">
    <div class="weekday">
      {{ dayOfWeekName }}
    </div>
  </div>
  <div class="header">
    <div class="day" [ngClass]="{ disabled: !cell.isEnabled, today: cell.isToday }">{{ cell.day }}</div>
  </div>
  <div class="scroller">
    <div class="row">
      <div class="time">
        <div *ngFor="let hour of hours" class="hour">
          {{ hour }}
        </div>
      </div>
      <div class="cell">
        <div class="event-list">
          <div *ngFor="let event of cell.events" class="event" [class.event-all-day]="event.isAllDay">
            <span *ngIf="!event.isAllDay" class="event-icon"></span>
            {{ event.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
